.container{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 20px;
    gap:10px;
    width: 20%;
    float: left;
}
.index{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px ;
    font-family: sans-serif;
    
}
.index img{
    width: 40px;
}