.logoAndtextarea, .iconGroup {
    display: flex;
    gap: 30px;
    position: relative;
    top: -6em;
    width: 100%;
    float: right;
  }
 
  .logo img {
    width: 40px;
  }
  
  textarea {
    resize: none;
    border: none;
  }
  .textarea{
    display: flex;
  }
  .logo  p{
    display: flex;
    justify-content: end;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
    float: right;
  }

  .icons{
    margin-top: 10px;
  }
  .icons img{
    padding: 0;
    margin: 0;
    width: 30px;
  }